<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lewiswilson.kiminojisho">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name = "com.lewiswilson.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Misc.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <receiver android:name=".ReminderBroadcast"/>
        <activity
            android:name=".ViewWord"
            android:label="@string/View_Edit"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".JishoSearch.ViewWordRemote"
            android:label="@string/View_Edit"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".About"
            android:label="@string/About" />
        <activity
            android:name=".AddWord"
            android:label="@string/Add_New_Word"
            android:theme="@style/AppTheme.Transparency"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".JishoSearch.SearchPage"
            android:label="Search"
            android:theme="@style/AppTheme.Transparency"
            android:windowSoftInputMode="adjustResize" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lewiswilson.kiminojisho.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
    </application>
</manifest>